heatmaps_colori
heatmaps_npy
heatmaps_shapes
heatmaps_colori.7z
heatmaps_npy.7z
heatmaps_shapes.7z
workspace_api_cuda/__pycache__
bioretics_material
report/.DS_Store
report/Thesis/.DS_Store
report/Thesis/main.synctex.gz
report/Thesis/*.log
./.DS_Store
